body {    
  font-size: 15pt;
  box-sizing: border-box;
}

.container {  
  width: 500px;  
  aspect-ratio: 4/3;  
  box-shadow: 2pt 3pt 4pt #225;  
  margin: 50pt auto;  
  border-radius: 20px;
  
}
.header {  
  background: linear-gradient(to bottom right, brown, gold, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-weight: 900;
  font-size: 40px; 
  width: fit-content; 
  text-shadow: 2pt 3pt 4pt #66bedd;  
  padding: 10px;  
  box-shadow: -2pt 3pt 5pt #225; 
  border-radius: 5%; 
}
.form {
  padding: 10px;
}
.form > div { 
  font-weight: 700; 
  padding: 5px 0;
}
.error-msg {
  margin-left: 50%;
  color: #d76;
  font-size: 13pt;
  font-weight: 800;
}
textarea {  
  display: block;
  width: 90%; 
  aspect-ratio: 3/2;
  border: 2px solid #49a;
  padding: 10px; 
  margin: 5px;  
  outline: none;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #49a;
  transition: height 1s ease-in-out; 
  transition: width 1s ease-in-out;
}
button { 
  width: 30%; 
  margin: 5px;  
  padding: 10px;  
  border: none; 
  border-radius: 5px; 
  color: #faffdf;  
  background: #1f2f40; 
  font-weight: 600;
}
.count-container {
  color: #4a8d95;
  display: flex;
  gap: 10px;
  font-size: 16pt;  
  font-weight: 800;
  border-radius: 10px;
  padding: 10px 20px; 
  justify-content: start;
  align-items: center;
}
.word-count, .char-count { 
  margin: 0px auto 10px; 
  width: 20%; 
  font-weight: 800;
  transition: width 150ms ease-in-out;
}